.rotate-ani {
  animation: rotate 10s linear 1s infinite;
  .pause-ani {
    animation-play-state: paused;
  }
}
/* animation */
@keyframes rotate {
  from {
    transfrom: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}