/* by panther 2018.10.25 */
$color-white: #fff;
$color-black: #000;
$color-swhite: rgb(236, 236, 236);
$color-gray: rgb(160, 160, 160);
$color-dgray: rgb(46, 46, 46);
$color-sgray: rgb(210, 210, 210);
$color-org: rgb(255, 166, 0);
$color-error: rgb(200, 0, 0);
$color-palying: rgb(255, 0, 0);
$color-succss: rgb(2, 128, 19);